:root {
  --board-size: 10; /* The number of rows and columns of our board, overridden by our Javascript. */
  --tile-size: 16px; /* The height and width of a tile. Set it according to your sprite size. */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  color: white;
}

.title {
  margin: 20px;
}

.subtext {
  color: #CCC;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.game {
  background-color: #c0c0c0;
}

.score {
  height: 36px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mine-counter {
  margin-left: 7px;
}
.timer {
  margin-right: 7px;
}
.number-display {
  display: flex;
}
.number-display .number {
  width: 13px;
  height: 23px;
}

.face {
  width: 26px;
  height: 26px;
}

.top-edge {
  display: flex;
}
.main {
  display: flex;
}
.bottom-edge {
  display: flex;
}

.corner,
.split {
  width: 10px;
  height: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}
.edge--top,
.edge--bottom {
  width: 100%;
  height: 10px;
}
.edge--left,
.edge--right {
  width: 10px;
  flex-grow: 0;
  flex-shrink: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--board-size), var(--tile-size));
  grid-template-rows: repeat(var(--board-size), var(--tile-size));
}

.board > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}
